#mulchMallet span{
    background: linear-gradient(to right, darkgray, darkgray);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#mudSickle span{
    background: linear-gradient(to right, #412B15, #412B15);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#dirtRavager span{
    background: linear-gradient(to right, #C4A484, #C4A484);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#voidCrusher span{
    background: linear-gradient(to right, white, #808080);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#geodeStaff span{
    background: linear-gradient(to right, #87CEEB, #2C75FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#earthSoiler span{
    background: linear-gradient(to right, #53CB59 30%, 50%, #CF7C5C);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cryptSmasher span{
    background: linear-gradient(to right, #FFC71F 30%, 55%, #440B81);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#labyrinthianTide span{
    background: linear-gradient(to right, #94BDC0 40%, 60%, #FFFF9D);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#LeafDestroyer span{
    background: linear-gradient(to right, #E4A436 20%, #00F438, #33FFA4);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#planetBuster span{
    background: linear-gradient(to right, #DF1717, #00CF11, #2100CA);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#whirlpoolOfFate span{
    background: linear-gradient(to right, #A0EE30, #FCFF25, #CFFFFE, #9AC6F1);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#wingsOfGlory span{
    background: linear-gradient(to right,rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#theKey span{
    background: linear-gradient(to right, #ffffff, #404040);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#extremeEcholocator span{
    background: linear-gradient(to right, #70E3FF, 65%, #2BFF00);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#corundumCaver span{
    background: linear-gradient(to right, #FF143E 25%, 50%, #3127ED 75%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#starborneSlasher span{
    background: linear-gradient(to right, #FF3607, #FFE428);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nyabomb span{
    background: linear-gradient(to right, #FF7011, 40%, #A9A9A9, #6C6C6C);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#lunarLightsabre span{
    background: linear-gradient(to right, #C6F9FF, #5B6BC1, #FAFAFA);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gemstoneEngraver span{
    background: linear-gradient(to right, #FF9F39, 30%, #6BFFE5, 80%, #FF9F39);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#gamblersFallacy span{
    background: linear-gradient(to right, #D10003, #F210A7, 50%, #FFDF55 90%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#exponentialCentrifuge span{
    background: linear-gradient(to right, #FFE200, #464646, #FFE200, #464646, #FFE200, #464646, #FFE200);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#singularitySlammer span{
    background: linear-gradient(to right, #C20000, #FF5300, #0D0D0D , #0D0D0D, #0D0D0D, #0D0D0D, #FF5300, #C20000);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#staffOfBinding span{
    background: linear-gradient(to right, #F5F5F5, #0D0D0D, #FFFDAF, #0D0D0D, #F5F5F5);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#oreTracker span{
    background: linear-gradient(to right, #005820, #00FF23);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#realCandilium span{
    background: linear-gradient(to right,#FFF1C0, #FF9E40);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#realVitriol span{
    background: linear-gradient(to right,#F9F9F9, #FFFB48);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#energySiphoner span{
    background: linear-gradient(to right,#62FF96, #F9F9F9, #FF9FDF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sugarRush span{
    background: linear-gradient(to right,#FF5609, #D7C100, #A8FF21);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#infinityCollector span{
    background: linear-gradient(to right,#2E2486, #45FFF2, #45A5FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#infinityCollectorII span{
    background: linear-gradient(to right,#2E2486, #45FFF2, #45A5FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#layerMaterializer span{
    background: linear-gradient(to right,#AEAEAE, #AEAEAE, #49C6FF, #6DD700, #F7F7F7, #AD7F57, #FF6312);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#fortuneIIIBook span{
    background: linear-gradient(to right,#CA18FF, #5D6BDC, #00ED2D, #5D6BDC, #CA18FF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hasteIIBeacon span{
    background: linear-gradient(to right,#CDAE35, #FFF584, #5DFBFF, #FFF584, #CDAE35);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sillyRecipe span{
    background: linear-gradient(to right,#FFEFD8, #FF5FE4, #FF2727, #FF5FE4, #FFEFD8);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#stormseersSupersparkSceptre span{
    background: linear-gradient(to right, #F6FF58 7%, #0030F1, #676767, #57FDFF, #FC5EFF 93%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logicalRandomiser span{
    background: linear-gradient(to right, #8BEFFF, #44CDFF);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#stormSneakers span{
    background: linear-gradient(to right, #0016AD, #616161, #616161, #FFEF32);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#artificeAnnihilator span{
    background: linear-gradient(to right,#931A1C 30%, #9CC400 80%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#repurposedReplicator span{
    background: linear-gradient(to right,#7AFF1F, #FFEB00, #FF0B0B);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cavernCapacitator span{
    background: linear-gradient(to right,#856447, #B2B2B2, #585858);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#highPoweredVacuum span{
    background: linear-gradient(to right,#DFCE21, #F1F1F1, #0C1656 90%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#unlockedSpeedcap span{
    background: linear-gradient(to right,#DCD56B, #550000, #00551F);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#coronaryCatastrophe span{
    background: linear-gradient(to right,#FF2454, #600018, #FF8DCC, #121212, #FF8DCC, #600018, #FF2454);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#cloversUndoing span{
    background: linear-gradient(to right, #FF7C00 10%, #032A00, #11E900, #032A00, #FF7C00 90%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#structuralService span{
    background: linear-gradient(to right, #CDCDCD 5%, #F55D2F, #474747, #EFD754, #474747, #F55D2F, #CDCDCD 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#statisticalAmplifier span{
    background: linear-gradient(to right,#000000 5%, #FF3636, #E94585, #000ACE, #FFFFFF 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#oblivionFracturer {
    margin-top: 5vw;
}
#oblivionFracturer span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right,#44533D, #37085A, #76734E, #116666, #58340B, #04370A, #3B0505, #740A32, #451676, #236B4B);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nullChroma {
    height: 26vw;
    padding-top: 0;
}
#nullChroma span {
    padding-top: 7vw;
    display: inline-flex;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #000000, #5D0000, #734600, #807A00, #074D00, #006564, #021652 , #3B0076, #460038, #5D0000, #000000);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#replicatorPrototype span{
    background: linear-gradient(to right,#FF0B0B, #FFEB00, #7AFF1F);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#theTreeOfLife span {
    background: linear-gradient(to right, #0CAE5B, #40EE95, #A67B51, #613B16, #A67B51, #40EE95, #0CAE5B);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hyperdriveAccelerator span {
    background: linear-gradient(to right, #00dfff, #3a00f9, #15fd00, #3a00f9, #00dfff);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#superenergeticAutomaton span{
    background: linear-gradient(to right, #FFFF99, #b4dcf0, #dcf0f0, #b4dcf0, #FFFF99);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#alterationReiterator span{
    background: linear-gradient(to right, #e365fc, #c9fc3a, #ff4b33);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#crystallineExcavator span{
    background: linear-gradient(to right, #c370e1, #8282e6, #ffffcd);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#biomeEnchanter span{
    background: linear-gradient(to right,#a3a09d, #585f2a, #978773, #8a8038, #5b590a);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#stratumNonillonator span{
    background: linear-gradient(to right,#DAE34A, #C69908, #EF5522, #C69908, #DAE34A);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#celestianReaper span{
    background: linear-gradient(to right, #5A1700, #8C2806, #AB3C16, #BC4E28, #DB5B2F, #F5541D, #FF4100);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#abyssalLeaper span{
    background: linear-gradient(to right, #2D3250, #424769, #7077A1, #424769, #2D3250);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#rngManipulator span{
    background: linear-gradient(to right,#d20202, #d20202);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#makeshiftAccelerator span{
    background: linear-gradient(to right,#5F9EA0, #5F9EA0);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ballastBreaker span{
    background: linear-gradient(to right,#882608, #6c1805, #360a0a);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#tropicalCarver span{
    background: linear-gradient(to right,#feda84, #976393, #43457f, #ff9b83);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#underseaEviscerator span{
    background: linear-gradient(to right,#00FFFF, #00A36C, #5D3FD3, #CCCCFF, #FFBF00, #CD7F32, #C04000, #FAD5A5, #E4D00A, #FDDA0D);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#quantumEntangler span{
    background: linear-gradient(to right, #854d89, #a9bf70, #8c4c4c);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#subatomicSuperpositioner span{
    background: linear-gradient(to right,#350264, #303287, #000000, #226e8f, #15116d);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#dimensionalSlicer span{
    background: linear-gradient(to right,#000000, #FF4191, #E90074, #FFF078, #FFF078, #E90074, #FF4191, #000000);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#potentialityMultiplier span{
    background: linear-gradient(to right,#FF8F00, #AF47D2, #FFDB00, #26355D, #FFDB00, #AF47D2, #FF8F00);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#electrifyingPropagator span{
    background: linear-gradient(to right,#850F8D, #E49BFF, #F8F9D7, #180161, #F8F9D7, #E49BFF, #850F8D);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#wormholeExterminator span{
    background: linear-gradient(to right,#0d3dc3, #aafd0a, #c96709, #aafd0a, #0d3dc3);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#lightspeedEmulator span{
    background: linear-gradient(to right,#121e1d, #345652, #5c9891, #e3eeec, #5c9891, #345652, #121e1d);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#increasedExponentiality span{
    background: linear-gradient(to right,#ccff33, #70e000, #008000, #004b23, #007200, #38b000, #9ef01a);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#forgottenRoseQuartzShell span{
    background: linear-gradient(to right, #f7cac9, #ffdcdb, #ffffff, #b4c8ea, #91a8d0);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#armbandOfEndlessDreams span{
    background: linear-gradient(to right, #c4c5ff, #e1d3ff, #fce9ff, #e1d3ff, #c4c5ff);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ringOfLife span{
    background: linear-gradient(to right,#403330 5%, #9A2910, #403330 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ringOfIntelligence span{
    background: linear-gradient(to right,#403330 5%, #1662A4, #403330 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ringOfSound span{
    background: linear-gradient(to right,#403330 5%, #0A9420, #403330 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ringOfTheUnknown span{
    background: linear-gradient(to right,#403330 5%, #000000, #403330 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#ringOfCreation span{
    background: linear-gradient(to right,#403330 5%, #C6D224, #403330 95%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#superclusterCapsizer span{
    background: linear-gradient(to right,#2c8769, #085e7e, #2b1660, #520276, #920042, #520276, #2b1660, #085e7e, #2c8769);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#timeDestabilizer span{
    background: linear-gradient(to right,#FB6376, #6DD6DA, #EFD6AC);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#eventManager span{
    background: linear-gradient(to right,#D67AB1, #9E643C, #C2F8CB);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#disengagedIncrementer span{
    background: linear-gradient(to right,#555B6E, #679436, #FFED65);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#galacticEngulfer span{
    background: linear-gradient(to right,#000d6f, #8cd4ff, #0092ff, #7200ea, #0b517c, #7200ea, #0092ff, #8cd4ff, #000d6f);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#text span{
    background: linear-gradient(to right,);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}